<%- include("./header") %>
<div id="sub-visual" class="sub-visual<%= titleNum %>">
  <div class="container">
    <h2 class="sub-title"><%= subTitle%></h2>
    <div class="bg"></div>
  </div>
</div>
<nav id="lnb">
  <div class="container">
    <a href="./" class="home">홈</a>
    <div class="lnb01 lnb-box">
      <a href=""><%= subTitle %></a>
      <%- include("./lnb-depth01") %>
    </div>
    <div class="lnb02 lnb-box">
      <a href=""><%= contentsTitle %></a>
      <%- include(gnb) %>
    </div>
  </div>
</nav>
<div id="sub-contents-wrap">
  <h3 class="contents-title"><%= contentsTitle %></h3>
  <div id="sub-contents" class="<%= className %>">
  


